{% extends "base.html" %}

{% block announce %}
  <a href="https://www.twitch.tv/fjalldata" target="_blank">
    <div class="md-banner">
        <b>The Magical World of C64 BBS:es</b> &mdash; Join <b>Twoflower/Triad</b> for an exciting talk at <b>Fjälldata 2026</b> on January 30th at 23:00 (CET; UTC+01:00).
    </div>
  </a>
{% endblock %}

{% block htmltitle %}
    {% if page.meta and page.meta.title %}
        <title>{{ page.meta.title }}</title>
    {% elif page.title and not page.is_homepage %}
        <title>{{ page.title | striptags }}</title>
    {% else %}
        <title>{{ config.site_name }}</title>
    {% endif %}
{% endblock %}

{% block content %}
    {% include "partials/home_content.html" %}
{% endblock %}

{% block extrahead %}
    <style>.md-content__button {display:none !important}; </style>
    <style>.md-header__topic {font-weight:700 !important}</style>
{% endblock %}